* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   width: 1140px;
   margin: 0px auto;
}

.promo {
   height: 800px;
   background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
   padding: 39px 0px 62px 0px;
}

.logo .logo_img {
   display: block;
   margin: 0px auto;
}

.logo .logo_text {
   margin: 14px 0px 0px 0px;
   text-align: center;
   color: #ffffff;
   font-family: Roboto;
   font-weight: 500;
   line-height: 24px;
   text-transform: uppercase;
}

h1 {
   margin: 53px 0px 0px 0px;
}

h2.title {
   margin: 30px 0px 0px 0px;
}

.title {
   color: #f9bf3b;
   font-family: "Roboto - Black";
   font-size: 41px;
   font-weight: 400;
   line-height: 24px;
   text-transform: uppercase;
   text-align: center;
}

.simple .title_big {
   margin: 21px 0px 0px 0px;
   color: #ffffff;
   font-family: "Roboto - Black";
   font-size: 80px;
   font-weight: 400;
   text-transform: uppercase;
   text-align: center;
}

.promo .promo_text {
   margin: 23px 0px 0px 0px;
   padding: 0px 13px;
   color: #ffffff;
   font-size: 21px;
   font-weight: 300;
   line-height: 28px;
   font-family: "Roboto - Light";
   font-weight: 300;
   text-align: center;
}

.promo .promo_text span {
   color: #f9bf3b;
   font-family: "Roboto - Bold";
   font-weight: 700;
}

.promo .promo_btn {
   display: block;
   margin: 73px auto 0px auto;
   width: 313px;
   height: 72px;
   box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
   border: 4px solid rgba(0, 0, 0, 0.23);
   background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);

   text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
   color: #ffffff;
   font-family: "Roboto Condensed";
   font-size: 21px;
   font-weight: 400;
   line-height: 24px;
   text-transform: uppercase;
   cursor: pointer;
   outline: none;
}

.more {
   margin: 73px 0px 0px 0px;
}

.more .more_text {
   color: #ffffff;
   font-family: "Roboto - Thin";
   font-size: 15px;
   font-weight: 400;

   text-transform: uppercase;
   text-align: center;
}

.more .more_img {
   display: block;
   margin: 13px auto 0px auto;
}

.waiting {
   height: 604px;
   background-color: #efefef;
   padding: 85px 0px 75px 0px;
}

.waiting .waiting_header {
   color: #252525;
   font-family: Roboto;
   font-size: 30px;
   font-weight: 400;

   text-transform: uppercase;
   text-align: center;
}

.waiting .waiting_divider {
   width: 217px;
   height: 4px;
   background-color: #f9bf3b;
   margin: 18px auto 0 auto;
}

.waiting .waiting_subheader {
   margin: 17px 0px 0px 0px;
   color: #4a4a4a;
   font-family: Roboto;
   font-size: 23px;
   font-weight: 400;
   text-align: center;
}

.waiting .waiting_wrapper {
   display: flex;
   justify-content: space-between;
   margin: 45px 0px 0px 0px;
}

.waiting .waiting_wrapper .waiting_item {
   width: 339px;
   text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
   width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
   margin: 33px 0px 0px 0px;
   color: #4a4a4a;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   line-height: 21px;
}
